In [1]:
import pandas as pd 
import numpy as np

In [3]:
# creating a dataframe
df = pd.DataFrame(np.random.rand(5, 5),
                  columns=["col_1", "col_2", "col_3", "col_4", "col_5"])

df

      col_1     col_2     col_3     col_4     col_5
0  0.322292  0.770114  0.988133  0.485027  0.072073
1  0.739063  0.975319  0.700919  0.278852  0.873513
2  0.143394  0.821405  0.900299  0.321988  0.415693
3  0.786752  0.563219  0.776299  0.651507  0.934423
4  0.581952  0.441311  0.022910  0.424256  0.279161

In [11]:
# access all elements in "col_1"
df["col_1"]

0    0.32
1    0.74
2    0.14
3    0.79
4    0.58
Name: col_1, dtype: float64

In [6]:
a= df["col_1"]

a[1]

0.7390631428753759

In [7]:
df[["col_2", "col_3", "col_4"]]

      col_2     col_3     col_4
0  0.770114  0.988133  0.485027
1  0.975319  0.700919  0.278852
2  0.821405  0.900299  0.321988
3  0.563219  0.776299  0.651507
4  0.441311  0.022910  0.424256

## Selection by label

In [17]:
new_df = pd.DataFrame(np.random.randn(10, 4), index=list("abcdefghij"),
                      columns=list("ABCD"))
new_df

          A         B         C         D
a  0.952954 -1.310324 -1.376740  0.276258
b  1.493595  0.539705  0.969513 -0.617174
c  0.611367  0.488150  1.022522  0.229638
d -0.650225  1.571667 -1.204090  0.637101
e  0.560311 -0.649682 -0.768907  0.977468
f -1.647243 -1.217747  0.783886  0.401624
g  0.970983 -1.508581 -0.842256 -0.659852
h  1.271112  2.321445  0.033766  0.984220
i  0.126584 -0.203787  1.253717  0.947080
j -1.679669 -0.479596  2.071345  1.182526

In [19]:
# cross section using a label
new_df.loc["a"]

A    0.952954
B   -1.310324
C   -1.376740
D    0.276258
Name: a, dtype: float64

In [20]:
# a list or array of labels
new_df.loc[["a", "d", "i"]] # equivalent to new_df.loc[["a", "b", "c"], :]

          A         B         C         D
a  0.952954 -1.310324 -1.376740  0.276258
d -0.650225  1.571667 -1.204090  0.637101
i  0.126584 -0.203787  1.253717  0.947080

In [28]:
# slice with label
new_df.loc["a":"d", "B":]

          B         C         D
a -1.310324 -1.376740  0.276258
b  0.539705  0.969513 -0.617174
c  0.488150  1.022522  0.229638
d  1.571667 -1.204090  0.637101

In [23]:
# a boolean array
new_df.loc["j"] > 0.5

A    False
B    False
C     True
D     True
Name: j, dtype: bool

In [26]:
# a boolean array 
new_df.loc[:, new_df.loc["j"] > 0.5]

          C         D
a -1.376740  0.276258
b  0.969513 -0.617174
c  1.022522  0.229638
d -1.204090  0.637101
e -0.768907  0.977468
f  0.783886  0.401624
g -0.842256 -0.659852
h  0.033766  0.984220
i  1.253717  0.947080
j  2.071345  1.182526

## Selection by position

In [30]:
# using same df but new index values 
new_df.index = list(range(0, 10))
new_df

          A         B         C         D
0  0.952954 -1.310324 -1.376740  0.276258
1  1.493595  0.539705  0.969513 -0.617174
2  0.611367  0.488150  1.022522  0.229638
3 -0.650225  1.571667 -1.204090  0.637101
4  0.560311 -0.649682 -0.768907  0.977468
5 -1.647243 -1.217747  0.783886  0.401624
6  0.970983 -1.508581 -0.842256 -0.659852
7  1.271112  2.321445  0.033766  0.984220
8  0.126584 -0.203787  1.253717  0.947080
9 -1.679669 -0.479596  2.071345  1.182526

In [31]:
# cross section using an integer position
new_df.iloc[3]

A   -0.650225
B    1.571667
C   -1.204090
D    0.637101
Name: 3, dtype: float64

In [34]:
# list or array of integers
new_df.iloc[[1, 5, 2, 3]]

          A         B         C         D
1  1.493595  0.539705  0.969513 -0.617174
5 -1.647243 -1.217747  0.783886  0.401624
2  0.611367  0.488150  1.022522  0.229638
3 -0.650225  1.571667 -1.204090  0.637101

In [41]:
# list or array of integers 
new_df.iloc[[1, 2, 3, 4], [0, 1, 2]]

          A         B         C
1  1.493595  0.539705  0.969513
2  0.611367  0.488150  1.022522
3 -0.650225  1.571667 -1.204090
4  0.560311 -0.649682 -0.768907

In [42]:
# integer slicing
new_df.iloc[:3]

          A         B         C         D
0  0.952954 -1.310324 -1.376740  0.276258
1  1.493595  0.539705  0.969513 -0.617174
2  0.611367  0.488150  1.022522  0.229638

In [43]:
# slice obejct by column 
new_df.iloc[:, :3]

          A         B         C
0  0.952954 -1.310324 -1.376740
1  1.493595  0.539705  0.969513
2  0.611367  0.488150  1.022522
3 -0.650225  1.571667 -1.204090
4  0.560311 -0.649682 -0.768907
5 -1.647243 -1.217747  0.783886
6  0.970983 -1.508581 -0.842256
7  1.271112  2.321445  0.033766
8  0.126584 -0.203787  1.253717
9 -1.679669 -0.479596  2.071345

In [44]:
# a boolean array
new_df.iloc[1:] > 0.5

       A      B      C      D
1   True   True   True  False
2   True  False   True  False
3  False   True  False   True
4   True  False  False   True
5  False  False   True  False
6   True  False  False  False
7   True   True  False   True
8  False  False   True   True
9  False  False   True   True

In [48]:
# out of bounds
new_df.iloc[10:13]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

## Selecting by a callable

In [50]:
new_df

          A         B         C         D
0  0.952954 -1.310324 -1.376740  0.276258
1  1.493595  0.539705  0.969513 -0.617174
2  0.611367  0.488150  1.022522  0.229638
3 -0.650225  1.571667 -1.204090  0.637101
4  0.560311 -0.649682 -0.768907  0.977468
5 -1.647243 -1.217747  0.783886  0.401624
6  0.970983 -1.508581 -0.842256 -0.659852
7  1.271112  2.321445  0.033766  0.984220
8  0.126584 -0.203787  1.253717  0.947080
9 -1.679669 -0.479596  2.071345  1.182526

In [51]:
# selection by a callable using []
new_df[lambda df: df.columns[3]]

0    0.276258
1   -0.617174
2    0.229638
3    0.637101
4    0.977468
5    0.401624
6   -0.659852
7    0.984220
8    0.947080
9    1.182526
Name: D, dtype: float64

In [185]:
# selection by df using .loc
new_df.loc[:, lambda df: ["A", "B"]]

          A         B
0  0.952954 -1.310324
1  1.493595  0.539705
2  0.611367  0.488150
3 -0.650225  1.571667
4  0.560311 -0.649682
5 -1.647243 -1.217747
6  0.970983 -1.508581
7  1.271112  2.321445
8  0.126584 -0.203787
9 -1.679669 -0.479596

In [54]:
# selection by df using .iloc
new_df.iloc[:, lambda df: [0, 1]]

          A         B
0  0.952954 -1.310324
1  1.493595  0.539705
2  0.611367  0.488150
3 -0.650225  1.571667
4  0.560311 -0.649682
5 -1.647243 -1.217747
6  0.970983 -1.508581
7  1.271112  2.321445
8  0.126584 -0.203787
9 -1.679669 -0.479596